<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<div>
<%= button_tag(type: 'button', class: 'btn btn-dark') do %>
  <% link_to 'Nuevo', new_order_path %>
<% end %>
</div>
<table class ="table">
  <thead>
    <tr>
      <th>id<th>
      <th>Mesero<th>
      <th>Mesa<th>
      <th>Detalle<th>
      <th>Editar<th>
      <th>Eliminar<th>
    <tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
      <td><%= order.id %></td>
      <td><%= order.waiter %></td>
      <td><%= order.board %></td>
      <td><%= link_to "Detalle", order_path(order) %></td>
      <td><%= link_to "Editar", edit_order_path(order)%></td>
      <td><%= link_to "Eliminar", order_path(order), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
